{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock title %}
{% block content %}
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">{% trans "Login Form" %}</h1>
            <p>{% trans "Sign in to manage your account." %}</p>
        </div>
        <!-- End Heading -->

        <!-- Form -->
        <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            <!-- Form -->
            <div class="mb-4">
                <label class="form-label" for="signupSimpleLoginEmail">{% trans "Email Address" %}</label>
                <input type="email" class="form-control form-control-lg text-center" name="username"
                    placeholder="email@site.com" aria-label="email@site.com" required>
                <span class="invalid-feedback">{% trans "Please enter a valid email address." %}</span>
            </div>
            <!-- End Form -->

            <!-- Form -->
            <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label">{% trans "Password" %}</label>

                </div>

                <div class="input-group input-group-merge">
                    <input type="password" 
                        class=" form-control form-control-lg text-center" name="password"
                        placeholder="********"
                        required>
                    <a class="input-group-append input-group-text" href="javascript:;">
                        <i class="bi-eye"></i>
                    </a>
                </div>
                <span class="invalid-feedback">{% trans "Please enter a valid password." %}</span>
            </div>
            <!-- End Form -->

            <div class="d-grid mb-3">
                <a class="form-label-link" href="./page-reset-password-simple.html">{% trans "Forgot your password?" %}</a>
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Login" %}</button>
            </div>

            <div class="text-center">
                <p>{% trans "Don't have an account?" %}<a class="link fw-bold" href="{% url 'accounts:signup' %}">{% trans "Register" %}</a></p>
            </div>
        </form>

        <!-- End Form -->
    </div>
</div>

{% endblock content %}


{% block extra_js %}
<script>
    // INITIALIZATION OF TOGGLE PASSWORD
    // =======================================================
    new HSTogglePassword('.js-toggle-password')
</script>
{% endblock extra_js %}